In [40]:
import pandas as pd

#import people data from csv
import_people = pd.read_csv('datafiles/People.csv', encoding='latin-1')
import_generations = pd.read_csv('datafiles/custom/generation.csv', encoding='latin-1')
import_juniors = pd.read_csv('datafiles/custom/juniors.csv', encoding='latin-1')

def jr(nm, id):
    if id in import_juniors:
        return nm + ' Jr.'
    else:
        return nm

def gen(x):
    if 1700 <= x <= 1882:
        return 'Pre-Generational'
    elif 1883 <= x <= 1900:
        return 'Lost Generation'
    elif 1901 <= x <= 1927:
        return 'Greatest Generation'
    elif 1928 <= x <= 1945:
        return 'Silent Generation'
    elif 1946 <= x <= 1964:
        return 'Baby Boomers'
    elif 1965 <= x <= 1980:
        return 'Gen X'
    elif 1981 <= x <= 1996:
        return 'Millenial'
    elif 1997 <= x <= 2012:
        return 'Gen Z'
    elif 2013 <= x <= 2025:
        return 'Gen Alpha'
    else:
        return 'Unknown'


#remove non-players, remove unneeded columns
people_df = import_people[~import_people['playerID'].str.contains('99')].drop(['ID', 'deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState', 'deathCity', 'nameGiven'], axis=1)
people_df['nameLast'] = people_df[['playerID', 'nameLast']].apply(lambda x: jr(x['nameLast'], x['playerID']), axis=1)

people_df

,playerID,birthYear,birthMonth,birthDay,birthCity,birthCountry,birthState,nameFirst,nameLast,weight,height,bats,throws,debut,bbrefID,finalGame,retroID
0,aardsda01,1981.0,12.0,27.0,Denver,USA,CO,David,Aardsma,215.0,75.0,R,R,2004-04-06,aardsda01,2015-08-23,aardd001
1,aaronha01,1934.0,2.0,5.0,Mobile,USA,AL,Hank,Aaron,180.0,72.0,R,R,1954-04-13,aaronha01,1976-10-03,aaroh101
2,aaronto01,1939.0,8.0,5.0,Mobile,USA,AL,Tommie,Aaron,190.0,75.0,R,R,1962-04-10,aaronto01,1971-09-26,aarot101
3,aasedo01,1954.0,9.0,8.0,Orange,USA,CA,Don,Aase,190.0,75.0,R,R,1977-07-26,aasedo01,1990-10-03,aased001
4,abadan01,1972.0,8.0,25.0,Palm Beach,USA,FL,Andy,Abad,184.0,73.0,L,L,2001-09-10,abadan01,2006-04-13,abada001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20980,thomacl03,1896.0,11.0,25.0,Greenup,USA,KY,Clinton,Thomas,186.0,69.0,R,R,NaN,thomacl03,NaN,thomc103
20981,malarda01,1894.0,10.0,18.0,White Hall,USA,LA,Dave,Malarcher,150.0,67.0,B,R,NaN,malarda01,NaN,malad101
20982,gardnje02,1895.0,9.0,27.0,Russellville,USA,AK,Jelly,Gardner,160.0,67.0,L,R,NaN,gardnje02,NaN,gardj102
20994,pagete01,1903.0,4.0,22.0,Glasgow,USA,KY,Ted,Page,175.0,71.0,L,R,NaN,pagete01,NaN,paget101
20995,mcdonwe01,1900.0,1.0,1.0,Glasgow,USA,DE,Webster,McDonald,190.0,71.0,L,R,NaN,mcdonwe01,NaN,mcdow101